.header-style{
    width: 97%;
    height: 70px;
    background-color: #918883;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 3%;
    justify-content: space-between;
}

.title{
    color: #2e2e2e;
    font-size: 36px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 15px 0px 15px 0px;
}

.pudding-text{
    display: flex;
    flex-direction: row;
    font-size: 25px;
    color: #2e2e2e;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
}

.large-quote{
    font-size: 35px;
    color: #181716;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0px;
}

.table-container{
    padding: 1rem;
    background-color: #e6e6e6;
    border-radius: 1rem;
    width: 65rem;
    box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.5);
    transition: all 0.3s ease;
}

.table-container:hover{
    box-shadow: none;
}

.body-style{
    background-color: #c0b4ad;
    margin: 0px;
    width: 100%;
    height: 100vh;
}

.page-end{
    background-color: #918883;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;

    position: fixed;
    bottom: 0;
}

.credit{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    color: #2e2e2e;
    text-decoration: none;
}
